{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('styles/reservation.css') }}">

<div class="card">
            <div class="row">
            <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Passer Reservations</b></h4></div>
                            <div class="col align-self-center text-right text-muted"></div>
                        </div>
                    </div>    
                    
            {% if paniers|length > 0 %}
                {% for item in paniers %}
                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-2"><img class="img-fluid" src="{{item.maisons.image}}"></div>
                                <div class="col">
                                    <div class="row text-muted">{{item.maisons.name}}</div>
                                    <div class="row">{{item.maisons.description}}</div>
                                </div>
                                <div class="col">
                                    <a href="#">-</a><a href="#" class="border">{{item.quantité}}</a><a href="{{path('app_panier', {'id': item.maisons.id })}}">+</a>
                                </div>
                                <div class="col"> {{item.maisons.prix}} XOF{{"  "}}<span class="close">&#10005;</span></div>
                            </div>
                        </div>                
                {% endfor %}
            {% endif %}
                    <div class="back-to-shop"><a href="{{path('app_acceuil')}}" class="text-secondary">&leftarrow;Retour</a></div>
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">{{somme}}</div>
                        <div class="col text-right">{{total}} XOF</div>
                    </div>
                    <form>
                        <p>SHIPPING</p>
                        <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                        <p>GIVE CODE</p>
                        <input id="code" placeholder="Enter your code">
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div class="col text-right">&euro; 137.00</div>
                    </div>
                    <button class="btn">CHECKOUT</button>
                </div>
            </div>
            
        </div>
{% endblock %}
