{% extends 'base.html.twig' %}

{% block title %}Hello ActualiteController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('styles/index.css') }}">

<header>
    <div class="barre-de-navigation">
        <div class="logo">
            <div class="logo1">
                <img src="{{ asset('images/logo.png') }}" width="60px">
            </div>
            <div class="logo2">
                <img src="{{ asset('images/caf.png') }}" width="40px">
            </div>

        </div>

        <div class="onglet"></div>
        <ul>
                <a href="{{ path('app_acceuil') }}"><li>Accueil</li></a>
                <a href="{{ path('app_acceuil') }}"><li>Categorie</li></a>
                <a href="{{ path('app_actualite') }}"><li>Actualité</li></a>
                <a href="{{ path('app_reservation') }}"><li>Reservation</li></a>
                <a href=""><li>Contact</li></a>
        </ul>
        <div class="fin-navigation">

            <p> Se Connecter</p>

        </div>
    </div>
    <div class="espace-image">
        <div class="image-acceuil">
            <img src="{{ asset('images/000_34ET9CC.jpeg') }}">
        </div>
        <div class="image-can">
            <img src="{{ asset('images/Instagram-Cover-861-x-316px-scaled.jpeg') }}">
        </div>

    </div>
</header>
{% endblock %}
