{% extends 'base.html.twig' %}

{% block title %}Hello MaisonsController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('styles/style.css') }}">

<div class="example-wrapper">
     <div class="row">
        {% for home in maisons %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ home.name }}</h5>
                        <p class="card-text">{{ home.description }}</p>
                        <p class="card-text">{{ home.prix }}</p>
                        <p class="card-text">{{ home.adresse }}</p>
                        <p class="card-text">{{ home.Categorie }}</p>
                        <p class="card-text">{{ home.disponibilite }}</p>
                        <p class="card-text"><a href= "{{ home.lien }}">Faire Une Visite </a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
